<div class="container-home">
  <section class="welcome-section">
    <div class="description">
      <h2>Welcome to My Rent</h2>
      <p>The place where you can rent vehicles quickly and easily.
        We have a wide range of vehicles at a great price, from
        ordinary cars to cars or even boats</p>
      <button class="sign-btn">Sign In</button>
    </div>
    <div class="image">
      <img src="./assets/img/lambo-image.png" alt="lamborghini">
    </div>
  </section>
  <section class="about-us-section">
    <div class="container-box">
      <div class="box">
        <div class="image">
          <img src="./assets/img/lamborghini-image.jpg" alt="lamborghini image">
        </div>
        <p class="title">Lamborghini Hurracan</p>
        <div class="container-info">
          <div class="top">
            <div class="info">
              <i class="fas fa-gas-pump"></i>
              <p>Diesel</p>
            </div>
            <div class="info">
              <i class="fas fa-calendar-alt"></i>
              <p>2019</p>
            </div>
            <div class="info">
              <i class="fas fa-tachometer-alt"></i>
              <p>650hp</p>
            </div>
          </div>
          <div class="bottom">
            <div class="info">
              <i class="fas fa-road"></i>
              <p>13.120km</p>
            </div>
            <div class="info">
              <i class="fas fa-map-marker-alt"></i>
              <p class="location">Via Andrea, Rome, 00100</p>
            </div>
          </div>
        </div>
        <div class="container-price">
          <p class="price">60$/Day</p>
          <p class="old-price">100$</p>
        </div>
      </div>

      <div class="box">
        <div class="image">
          <img src="./assets/img/boat-image.jpg" alt="boat image">
        </div>
        <p class="title">Superfast Rtx 34</p>
        <div class="container-info">
          <div class="top">
            <div class="info">
              <i class="fas fa-gas-pump"></i>
              <p>Diesel</p>
            </div>
            <div class="info">
              <i class="fas fa-calendar-alt"></i>
              <p>2020</p>
            </div>
            <div class="info">
              <i class="fas fa-tachometer-alt"></i>
              <p>824hp</p>
            </div>
          </div>
          <div class="bottom">
            <div class="info">
              <i class="fas fa-road"></i>
              <p>5.020km</p>
            </div>
            <div class="info">
              <i class="fas fa-map-marker-alt"></i>
              <p class="location">Via Andrea, Rome, 00100</p>
            </div>
          </div>
        </div>
        <div class="container-price">
          <p class="price">80$/Day</p>
          <p class="old-price">120$</p>
        </div>
      </div>
    </div>
    <div class="description">
      <h2>Why choose us?</h2>
      <p>Because we have the best prices,
        and because we offer our customers a wide range of services.
        Each user can put their vehicle for rent on our platform and
        earn money, or maybe even rent wherever they are based on
        location on the device.</p>
    </div>
  </section>
  <section class="payment-section">
    <h2 class="title">Easy Payment</h2>
    <div class="container-info">
      <div class="image">
        <img src="./assets/img/cards.png" alt="cards images">
      </div>
      <div class="image">
        <img src="./assets/img/mastercard.png" alt="card image">
      </div>
      <div class="description">
        <p>With My Rent you can pay very easily from anywhere
          and in a short time. All you have to do is add a payment
          method, so you can pay the rented vehicles directly from
          the application, or even earn money and receive on the card.
        </p>
      </div>
    </div>
  </section>
  <section class="location-section">
    <div class="description">
      <h2>My location</h2>
      <p>Are you on vacation and want a car or even
        a boat to ride with? Well all you have to do
        is give access to your location and the application
        will do the rest for you. You just have to choose from
        many beautiful models and enjoy them
      </p>
    </div>
    <div class="image">
      <img src="./assets/img/map.png" alt="map image">
    </div>
  </section>
  <section class="money-section">
    <div class="image">
      <img src="./assets/img/post-image.png" alt="post image">
    </div>
    <div class="description">
      <h2>How to make money?</h2>
      <p>Do you have a vehicle that you don't use much? Why sit in the garage dusting it instead of making money? It's
        simple ... all you have to do is create a post with the data about the vehicle, in which category it corresponds
        and put some beautiful pictures to attract more customers. In the end you choose what price it will have and the
        game is done! I told you it was easy</p>
        <button class="post-btn">Post my vehicle</button>
    </div>
  </section>
</div>
