<div class="container-home">
  <section class="first-section">
    <div class="top">
      <div class="description">
        <h3>Welcome to My Rent</h3>
        <p>The place where you can rent vehicles quickly and easily.
          We have a wide range of vehicles at a great price, from
          ordinary cars to cars or even boats</p>
      </div>
      <div class="image">
        <img src="./assets/img/lambo-image.png" alt="lamborghini image">
      </div>
    </div>
    <div class="bottom">
      <div class="box1"></div>
      <div class="box2"></div>
      <div class="box3"></div>
      <div class="box4"></div>
    </div>
  </section>
  <section class="second-section">
    <div class="map">
      <img src="./assets/img/map.png" alt="map for location">
    </div>
    <div class="description">
      <h3>Are you on vacation somewhere?</h3>
      <p>No problem, with us you will find anywhere vehicles with which you can do your pleasures wherever you are.
        All you have to do is let us see where you are, and we will take care of the rest</p>
    </div>
  </section>
</div>
