<div class="container-home">
  <section class="first-section">
    <div class="top">
      <div class="description">
        <h3>Welcome to My Rent</h3>
        <p>The place where you can rent vehicles quickly and easily.
          We have a wide range of vehicles at a great price, from
          ordinary cars to cars or even boats</p>
      </div>
      <div class="image">
        <img src="./assets/img/lambo-image.png" alt="lamborghini image">
      </div>
    </div>
    <div class="bottom">
      <div class="box1"></div>
      <div class="box2"></div>
      <div class="box3"></div>
      <div class="box4"></div>
    </div>
  </section>
  <section class="second-section">
    <div class="map">
      <img src="./assets/img/map.png" alt="map for location">
    </div>
    <div class="description">
      <h3>Are you on vacation somewhere?</h3>
      <p>No problem, with us you will find anywhere vehicles with which you can do your pleasures wherever you are.
        All you have to do is let us see where you are, and we will take care of the rest</p>
    </div>
  </section>
  <section class="third-section">
    <div class="description">
      <h3>Do you want to make money?</h3>
      <p>Put the vehicle for rent with this application and you can make a pretty interesting income</p>
    </div>
    <div class="diagram">
      <p>Create a post</p>
      <p>Insert data of the vehicle</p>
      <p>Put some awseome photos</p>
      <p>Post</p>
    </div>
  </section>
  <section class="four-section">
    <div class="description">
      <h3>Don't you believe us?</h3>
      <p>This is our statistic that tells us that 9 out of 10 people who use our
        application have made high incomes</p>
    </div>
    <div class="statistics">
      <div class="container-lines">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
        <div class="line4"></div>
        <div class="line5"></div>
        <div class="line6"></div>
        <div class="line7"></div>
      </div>
      <div class="months">
        <p>Jan</p>
        <p>Feb</p>
        <p>Mar</p>
        <p>Apr</p>
        <p>May</p>
        <p>Jun</p>
        <p>Jul</p>
      </div>
    </div>
  </section>
  <section class="five-section">
    <div class="box">
      <img src="./assets/img/girl2-image.jpg" alt="User image">
      <div class="top">
        <i class="fas fa-quote-left"></i>
        <p class="user-name">Jane Johnson</p>
      </div>
      <p class="description">I love this app. Since I started using it, my income has increased by 70%. Thank you very much My Rent App</p>
    </div>
    <div class="box">
      <img src="./assets/img/men-image.jpg" alt="User image">
      <div class="top">
        <i class="fas fa-quote-left"></i>
        <p class="user-name">Andrew Tycson</p>
      </div>
      <p class="description">From now on I can go quietly on my holidays, because I can find anywhere any kind of vehicle I need. It is very useful, I recommend it!</p>
    </div>
    <div class="box">
      <img src="./assets/img/girl3-image.jpg" alt="User image">
      <div class="top">
        <i class="fas fa-quote-left"></i>
        <p class="user-name">Alina Maria</p>
      </div>
      <p class="description">I love to ride boats, with this application everything becomes possible. I rented a few boats and I can say that I am very satisfied with the price and quality</p>
    </div>
  </section>
  <section class="six-section">
    <div class="top">
      <h3>Download My Rent App</h3>

    </div>
    <div class="bottom"></div>
  </section>
</div>
