@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

// Font weight
$light: 300;
$regular: 400;
$medium: 500;
$semiBold: 600;
$bold: 700;

// Colors
$blueLight: #f1f3f8;
$blueMedium: #d6e0f0;
$blueMediumDark: #8d93ab;
$blueDark: #393b44;
$white: #ffff;

$green: #717171;

$red: #ff0000;

.container-home {
  .welcome-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 220px 100px 0 100px;
    .description {
      width: 356px;
      h2 {
        margin-bottom: 46px;
        font-size: 32px;
        font-family: "Quicksand", sans-serif;
        font-weight: $bold;
      }
      p {
        line-height: 25px;
        font-family: "Quicksand", sans-serif;
        font-weight: $medium;
        font-size: 16px;
      }
      .sign-btn {
        margin-top: 46px;
        background-color: $red;
        padding: 13px 25px;
        border-radius: 10px;
        color: $white;
        opacity: 0.7;
        cursor: pointer;
        border: 0;
        box-shadow: 0px 3px 12px 3px rgb(0 0 0 / 16%);
        font-family: "Quicksand", sans-serif;
        font-weight: $medium;
        font-size: 16px;
      }
    }
    .image {
      width: 400px;
      img {
        width: 100%;
      }
    }
  }
  .about-us-section {
    margin-top: 320px;
    padding: 100px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .container-box {
      display: flex;
      align-items: center;
      .box {
        background: $blueMedium;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 320px;
        width: 300px;
        border-radius: 20px;
        .title {
          font-family: "Quicksand", sans-serif;
          font-weight: $medium;
          font-size: 20px;
          color: $blueDark;
          margin: 15px 0;
        }
        .image {
          width: 120px;
          margin-top: 20px;
          img {
            width: 100%;
          }
        }
        .container-info {
          margin: 15px;
          .top {
            display: flex;
            align-items: center;
            margin-bottom: 15px;
            .info {
              display: flex;
              align-items: center;
              i {
                margin-right: 8px;
                font-size: 21px;
                color: $blueDark;
              }
              p {
                font-family: "Quicksand", sans-serif;
                font-weight: $regular;
                font-size: 16px;
                color: $blueDark;
              }
            }
            .info:not(:last-child) {
              margin-right: 15px;
            }
          }
          .bottom {
            display: flex;
            align-items: center;
            .info {
              display: flex;
              align-items: center;
              i {
                margin-right: 8px;
                font-size: 21px;
                color: $blueDark;
              }
              .location {
                width: 100px;
                font-family: "Quicksand", sans-serif;
                font-weight: $regular;
                font-size: 16px;
                color: $blueDark;
              }
            }
            .info:not(:last-child) {
              margin-right: 15px;
            }
          }
        }
        .container-price {
          display: flex;
          align-items: center;
          p:not(:last-child) {
            margin-right: 10px;
          }
          p {
            font-family: "Quicksand", sans-serif;
            font-weight: $medium;
            font-size: 20px;
            color: $blueDark;
          }
          .old-price {
            text-decoration: line-through;
          }
        }
      }
      .box:not(:last-child) {
        margin-right: 90px;
      }
    }
    .description {
      width: 356px;
      h2 {
        margin-bottom: 46px;
        font-size: 32px;
        font-family: "Quicksand", sans-serif;
        font-weight: $bold;
      }
      p {
        line-height: 25px;
        font-family: "Quicksand", sans-serif;
        font-weight: $medium;
        font-size: 16px;
      }
    }
  }
  .payment-section {
    margin-top: 320px;
    padding: 100px 100px;
    background: $blueMediumDark;
    .title {
      font-size: 32px;
      font-family: "Quicksand", sans-serif;
      font-weight: $bold;
      text-align: center;
      color: $white;
    }
    .container-info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .image {
        width: 300px;
        img {
          width: 100%;
        }
      }
      .description {
        width: 356px;
        p {
          font-family: "Quicksand", sans-serif;
          font-weight: $regular;
          font-size: 16px;
          color: $white;
          line-height: 25px;
        }
      }
    }
  }
  .location-section {
    margin-top: 320px;
    padding: 100px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .description {
      width: 356px;
      h2 {
        margin-bottom: 46px;
        font-size: 32px;
        font-family: "Quicksand", sans-serif;
        font-weight: $bold;
      }
      p {
        line-height: 25px;
        font-family: "Quicksand", sans-serif;
        font-weight: $medium;
        font-size: 16px;
      }
    }
    .image {
      width: 400px;
      img {
        width: 100%;
      }
    }
  }
  .money-section {
    margin-top: 320px;
    padding: 100px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .description {
      width: 356px;
      h2 {
        margin-bottom: 46px;
        font-size: 32px;
        font-family: "Quicksand", sans-serif;
        font-weight: $bold;
      }
      p {
        line-height: 25px;
        font-family: "Quicksand", sans-serif;
        font-weight: $medium;
        font-size: 16px;
      }
      .post-btn {
        border: 0;
        background: $blueMediumDark;
        opacity: 0.8;
        padding: 15px 20px;
        border-radius: 7px;
        font-family: "Quicksand", sans-serif;
        font-weight: $medium;
        font-size: 16px;
        color: $white;
        margin-top: 46px;
        cursor: pointer;
      }
    }
    .image {
      width: 400px;
      img {
        width: 100%;
      }
    }
  }
}
