<div class="container-nav">
  <div class="logo">
    <img src="./assets/img/logo.png" alt="logo my rent app">
  </div>
  <ul class="links">
    <li><a routerLink="/" routerLinkActive="active"><i class="fas fa-home"></i></a></li>
    <li><a routerLink="/vehicles" routerLinkActive="active"><i class="fas fa-car-building"></i></a></li>
    <li><a routerLink="/postRent" routerLinkActive="active"><i class="fas fa-garage-car"></i></a></li>
    <li><a routerLink="/messages" routerLinkActive="active"><i class="fas fa-comment"></i></a></li>
    <li><a routerLink="/notification" routerLinkActive="active"><i class="fas fa-bell"></i></a></li>
  </ul>
  <ul class="container-user-action">
    <li><a class="signIn" routerLink="/">Sign In</a></li>
    <li><a class="logIn" routerLink="/">Log In</a></li>
  </ul>
</div>
