<section class="container-footer">
 <div class="container-info">
   <div class="box text">
     <p class="title">Need help?</p>
     <a routerLink="/">How the app works?</a>
     <a routerLink="/">About Us</a>
   </div>
   <div class="box">
     <p class="title">Be a part of Us!</p>
    <div class="container-social">
      <a href="https://www.facebook.com/AntonioLucian24" target="_blank"><i class="fab fa-facebook"></i></a>
      <a href="https://www.instagram.com/antonio_lucian13" target="_blank"><i class="fab fa-instagram"></i></a>
      <a href="https://twitter.com/AsuSoftware" target="_blank"><i class="fab fa-twitter"></i></a>
    </div>
   </div>
   <div class="box text">
     <p class="title">Contact</p>
     <a routerLink="/contact">Contact Us</a>
   </div>
 </div>
 <footer>&copy; Copyright 2021 Asu Software</footer>
</section>
