@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

// Font weight
$light: 300;
$regular: 400;
$medium: 500;
$semiBold: 600;
$bold: 700;


// Colors
$blueLight: #f1f3f8;
$blueMedium: #d6e0f0;
$blueMediumDark: #8d93ab;
$blueDark: #393b44;
$white: #ffff;

$green: #717171;

$red: #ff0000;

.container-login {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 260px;
  padding: 0 140px;

  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $blueMediumDark;
    width: 350px;
    height: 350px;
    border-radius: 15px;
    justify-content: center;

    h3 {
      margin: 20px 0;
      color: $blueDark;
      font-size: 25px;
      font-family: "Quicksand", sans-serif;
      font-weight: $bold;
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      input {
        margin: 20px 0;
        padding: 10px 20px;
        border-radius: 5px;
        color: $blueDark;
        font-family: "Quicksand", sans-serif;
        font-weight: $regular;
        border: 1px solid transparent;
      }
      .container-link {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        a {
          text-decoration: none;
          font-family: "Quicksand", sans-serif;
          font-weight: $regular;
          color: $blueDark;
        }
      }
      button {
        background-color: $blueDark;
        color: #ffff;
        border: 0;
        padding: 10px 20px;
        border-radius: 5px;
        margin: 20px 0;
      }

      input.ng-invalid.ng-touched {
        border-color: red;
      }
      span {
        color: $blueDark;
        font-family: "Quicksand", sans-serif;
        font-weight: $regular;
      }
    }
  }
  .image {
    width: 400px;
    img {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 600px) {
  .container-login {
    .login-form {
      width: 290px;
    }
    .image {
      width: 300px;
    }
  }
}


@media only screen and (max-width: 1060px) {
  .container-login {
    flex-direction: column;
    margin-top: 100px;

    .image {
      margin-top: 60px;
    }
  }
}
