/* You can add global styles to this file, and also import other style files */

$backgroundColor: #426E6E;

* {
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  min-height: 100vh;
  background-color: $backgroundColor;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1d5f57;
  border-radius: 10px;
}
